{% extends 'app_common/base.html' %}
{% load static %}
{% block title %}
    Profile Update| NiwaAgro.com
{% endblock title %}

{% block content %}


<section class="">
    <div class="row mx-0">
        {% include 'users/user/index.html' %}
        <div class="col-sm-12 col-lg-9 d-flex justify-content-center my-lg-5 ">
            <div class="update-form">
                <form method="post" enctype="multipart/form-data"class="form_body ">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="d-flex justify-content-center">
                        <button class=" btn w-100 my-lg-3 p-lg-2 btn-warning" type="submit">Update</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</section>




{% endblock content %}
