{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} Update Category {% endblock title %}
{% block content %}
 
<section class="py-lg-2">
    <div class="container">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'users:admin_dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'product:category_list' %}">All Categories</a></li>
              <li class="breadcrumb-item active" aria-current="page">Update Category</li>
            </ol>
          </nav>
        <div class="d-flex justify-content-center m-0 p-0">
            <p class="m-0 p-0">{% include 'snippets/alert.html' %}</p>
        </div>
        <div class="product-form-container w-50 mt-5">
        <h4 class="text-center p-lg-3">Update Category</h4>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-warning w-100">Update</button>
            </form>
        </div>
    </div>
</section>

{% endblock content %}
