{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} Edit Product {% endblock title %}
{% block content %}

<section class="py-lg-2">
    <div class="conatiner">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'users:admin_dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'product:product_list' %}">All Products</a></li>
             
              <li class="breadcrumb-item active" aria-current="page"> Update Product</li>
            </ol>
        </nav>
        <div class="product-form-container">
            <form method="POST" enctype="multipart/form-data">
        <h4 class=" text-center my-lg-2 p-lg-3">Edit Product</h4>

                {% csrf_token %}
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.product_type.id_for_label }}">Product Type</label>
                            {{ form.product_type }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.category.id_for_label }}">Category</label>
                            {{ form.category }}
                        </div>
                    </div>
                </div>
    
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="lh-lg" >
                            <label for="{{ form.sku_no.id_for_label }}">SKU Number</label>
                            {{ form.sku_no }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.name.id_for_label }}">Name</label>
                            {{ form.name }}
                        </div>
                    </div>
                </div>
    
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.brand.id_for_label }}">Brand</label>
                            {{ form.brand }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.gst_rate.id_for_label }}">GST Rate</label>
                            {{ form.gst_rate }}
                        </div>
                        
                    </div>
                </div>
    
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.trending.id_for_label }}">Trending</label>
                            {{ form.trending }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.show_as_new.id_for_label }}">Show as New</label>
                            {{ form.show_as_new }}
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.product_short_description.id_for_label }}">Short Description</label>
                            {{ form.product_short_description }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.product_long_description.id_for_label }}">Long Description</label>
                            {{ form.product_long_description }}
                        </div>
                    </div>
                </div>
    
                <div class="row mb-2">
                    <div class="col-md-6">
                        <div class="lh-lg">
                            <label for="{{ form.image.id_for_label }}">Image</label>
                            {{ form.image }}
                        </div>
                    </div>
                </div>
    
              
    
                <button type="submit" class="btn btn-warning w-100 mt-2">Update</button>
            </form>
    </div>
    </div>
</section>


{% endblock content %}
