{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} update Variant {% endblock title %}
{% block content %}


<section class="py-lg-2">
    <div class="conatiner">

        <p class="text-center"> {% include 'snippets/alert.html' %}</p>
        <div class="product-form-container w-50 mt-5" >
            <form action="" method="post" enctype="multipart/form-data" class=" lh-lg" >
                <h4 class=" text-center  p-lg-3">Update Variant Master</h4>

                {% csrf_token %}
                {{form.as_p}}
                <br>
                <button type="submit" class="btn btn-warning w-100">Update Variant</button>
            </form>
    </div>
    </div>
</section>

    


{% endblock content %}