{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} All Products {% endblock title %}
{% block content %}


<section class="py-2">
    <div class="container">
        <h4 class="headings_h5 text-center my-lg-4 p-lg-3">All Attribute Products</h4>
        <div class="vstack">
            <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">
                <form class="my-3 mx-2" action="" method="post">
                    {% csrf_token %}
                    <div class="hstack gap-2">
                        <select style="width: 6rem;" name="filter_by" class="form-select form-select1" aria-label="Default select example">
                            <option selected value="pk">All</option>
                            <option value="id">ID</option>
                            <option value="name">Name</option>
                        </select>
                        <span  class="input-group ">
                            <input type="text" name="query" placeholder="Search Here" class="form-control form-select1" required />
                            <button type="submit" class="input-group-text form-select1"><i class='bx bx-search-alt-2' ></i></button>
                        </span>
                    </div>
                </form>
                <p class="snippets">{% include 'snippets/alert.html' %}</p>
            </div>

            <div class="tablecard">
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th class="" id="tb-head" scope="col">Product ID</th>
                                <th class="" id="tb-head" scope="col">Name</th>
                                <th class="" id="tb-head" scope="col">Image</th>
                                <th class="" id="tb-head" scope="col">Brand</th>
                                <th class="" id="tb-head" scope="col">Max Price</th>
                                <th class="" id="tb-head" scope="col">Discounted Price</th>
                                <th class="" id="tb-head" scope="col">Stock</th>
                                <th class="" id="tb-head" scope="col">Variants</th>
                                <th class="" id="tb-head" scope="col">Action</th>
                            </tr>
                        </thead>
                        <form method="post" action="">
                            {% csrf_token %}
                        <tbody id="test_table_tbody">
                            {% for product in variant_products %}
                            <tr>
                                <td class="tb-body">
                                    <div class="tb-body_sub">
                                        {{ product.pk }}
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-capitalize">
                                        {{ product.product.name|truncatewords:5 }}                                
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-uppercase">
                                        {% if product.product.image %}
                                        <img class="cat-img2" src="{{ product.product.image.url }}" alt="Image">
                                        {% endif %}                  
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-capitalize">
                                        {{ product.product.brand }}                                
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-capitalize">
                                        {{ product.product_max_price }}                               
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-capitalize">
                                        {{ product.product_discount_price }}                               
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-capitalize">
                                        {{ product.stock }}                                
                                    </div>
                                </td>
                                <td class="tb-body">
                                    <div class="tb-body_sub text-capitalize">
                                        {% if product.variant_combination %}
                                        {% for key, value in product.variant_combination.items %}
                                            <li>{{ key|capfirst }}: {{ value }}</li>
                                        {% endfor %}
                                    {% else %}
                                        <li>No variants available</li>
                                    {% endif %}                            
                                    </div>
                                </td>
                                <td class="d-flex justify-content-evenly delete_edit_button">
                                    <div class="tb-body_sub">
                                        <a href="{% url 'product_variations:product_variant_edit' product.pk %}">
                                        <i class='bx bx-edit text-primary'></i>    
                                    </a>
                                    </div>
                                    <div class="tb-body_sub ">
                                        <a href="{% url 'product_variations:product_variant_delete' product.pk %}">
                                        <i class='bx bx-trash text-danger'></i>    
                                    </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}