{% extends 'users/admin/base.html' %}
{% load static %}
{% block title %} Variation List {% endblock title %}
{% block content%}

<section class="py-2">
  <div class="container">
    <div style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'users:admin_dashboard' %}">Home</a></li>
          
          <li class="breadcrumb-item active" aria-current="page">Attribute Master</li>
        </ol>
    </div>
      <h4 class=" my-lg-4 p-lg-3"> Attribute Master</h4>
      <div class="vstack">
          <div class="d-flex justify-content-between flex-column flex-sm-row gap-3">
              <p class="snippets">{% include 'snippets/alert.html' %}</p>
              <div class="btn-group catagory-btn my-3 mx-2">
                  <a href="{% url 'product_variations:variation_add' %}">
                      <i class='bx bxs-plus-square'></i>
                      Create New Attribute
                  </a>
              </div>
          </div>

          <div class="tablecard">
              <div class="table-responsive">
                  <table class="table table-hover table-nowrap">
                      <thead class="table-light">
                          <tr>
                              <th class="" id="tb-head" scope="col">SL No.</th>
                              <th class="" id="tb-head" scope="col">Attribute Name</th>
                              <th class="" id="tb-head" scope="col">Action</th>
                          </tr>
                      </thead>
                    
                      <tbody id="test_table_tbody">
                        {% for variant in variant_list %}
                          <tr>
                              <td class="tb-body">
                                  <div class="tb-body_sub">
                                          {{ variant.id }}
                                  </div>
                              </td>
                              <td class="tb-body">
                                  <div class="tb-body_sub text-capitalize">
                                    {{variant.name}}                                 
                                  </div>
                              </td>
                              <td class="d-flex justify-content-evenly delete_edit_button">
                                  <div class="">
                                      <a href="{% url 'product_variations:variation_update' variant.id %}">
                                      <i class='bx bx-edit text-primary'></i>    
                                  </a>
                                  </div>
                                  <div class="">
                                      <a href="{% url 'product_variations:variation_delete' variant.id %}">
                                      <i class='bx bx-trash text-danger'></i>    
                                  </a>
                                  </div>
                              </td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      

  </div>
</section>

{% endblock content %}