{% extends 'users/admin/base.html' %}
{% load static %}
{% block content %}
<section class="py-lg-2">
    <div class="conatiner">
        <p class="text-center"> {% include 'snippets/alert.html' %}</p>
        <div class="product-form-container w-50 mt-5">
            <form action="" method="post" enctype="multipart/form-data" class="lh-lg">
                <h4 class=" text-center my-lg-3 p-lg-3">Add Attribute Master</h4>

                {% csrf_token %}
                {{ form.as_p }}
                    <button type="submit" class="btn w-100 mt-3" id="save-btn">Add Your Attribute</button>
            </form>
        </div>
    </div>
</section>






{% endblock content %}