{% extends 'app_common/base.html' %}
{% load static %}
{% block title %} About Us {% endblock title %}
{% block content %}

<section>
    <div class="My_body">
        <div class="row px-5 my-4 pt-2 bg-white">
            <div class="col-12 d-flex justify-content-center">
                <h3 class="sectiontitle mb-5 mt-3 text-center">About Us</h3>
            </div>
            <div class="col-lg-6 col-xl-6 col-sm-12 mt-4">
                <h4 class="mb-4">Welcome to Treeranga!</h4>
                <p class="para">
                    At <b>Treeranga</b>, we believe that a t-shirt is more than just a piece of clothing – it's a canvas for self-expression, a symbol of comfort, and a statement of style. Our journey began with a simple idea: to create high-quality, unique t-shirts that resonate with our customers' personalities and lifestyles.
                </p>
            </div>
            <div class="col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-center justify-content-lg-end">
                <img class="abt-img  " src="https://img.freepik.com/free-vector/flat-hand-drawn-people-shopping-sale-illustration_23-2148829747.jpg?semt=ais_hybrid" alt="About Us">
            </div>
        </div>
        <div class="row my-5 px-5  pt-2 bg-white">
            <div class="col-lg-6 col-sm-12 d-flex justify-content-center justify-content-lg-start align-items-center">
                <img class="abt-img  " src="https://img.freepik.com/free-vector/purchasing-habits-abstract-concept_335657-2995.jpg?semt=ais_hybrid" alt="Our Story">
            </div>
            <div class="col-lg-6 col-xl-6 col-sm-12 mt-4">
                <h4 class="mb-4">Our Story</h4>
                <p class="para">
                    Founded in 2022, <b>Treeranga</b> was born out of a passion for creativity and a love for fashion. Our founder, Sushant Kumar Jena, started the company with a small collection of hand-designed t-shirts, each one inspired by a unique story or concept. What started as a small endeavor quickly grew, thanks to the overwhelming support and enthusiasm from our community.
                </p>
            </div>
        </div>
        <div class="row my-5 pt-2 px-5 bg-white">
            <div class="col-lg-6 col-xl-6 col-sm-12 mt-4">
                <h4 class="mb-4">Our Mission</h4>
                <p class="para">
                    
                    Our mission is to bring you the best t-shirts that combine style, comfort, and individuality. We believe that everyone deserves to feel good in what they wear, and we strive to offer a wide range of designs that cater to all tastes and preferences. From bold graphics to subtle prints, our collections are designed to inspire and empower.
                </p>
            </div>
            <div class="col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-center justify-content-lg-end">
                <img class="abt-img  " src="https://img.freepik.com/free-vector/office-employees-hurry_74855-6593.jpg?size=626&ext=jpg&uid=R154425881&ga=GA1.1.1252649877.1716529876&semt=ais_hybrid " alt="About Us">
            </div>
        </div>

        <div class="row my-5 pt-2 px-5 bg-white">
            <div class="col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-center justify-content-lg-start align-items-center">
                <img class="abt-img  " src="
                https://img.freepik.com/free-vector/seasonal-sale-discounts-presents-purchase-visiting-boutiques-luxury-shopping-price-reduction-promotional-coupons-special-holiday-offers-vector-isolated-concept-metaphor-illustration_335657-2766.jpg
                " alt="Our Story">

            </div>
            <div class="col-lg-6 col-xl-6 col-sm-12 mt-4">
                <h4 class="mb-4"> Quality and Sustainability</h4>
                <p class="para">
                    Quality is at the heart of everything we do. We take pride in using only the finest materials to ensure that our t-shirts are not only stylish but also durable and comfortable. Moreover, we are committed to sustainability. We source our fabrics responsibly and work with manufacturers who share our values of ethical and sustainable practices.
                </p>
            </div>
        </div>
        <div class="row my-5 pt-2  px-5 bg-white">
            <div class="col-lg-6 col-xl-6 col-sm-12 mt-4">
                <h4 class="mb-4">Join Our Community</h4>
                <p class="para">
                    
                    At <b>Treeranga</b>, we see our customers as part of our extended family. We love hearing from you and seeing how you style our t-shirts. Follow us on social media, share your photos with us using #fashionfeast, and be part of our growing community of t-shirt enthusiasts.
                </p>
                <p class="para">Thank you for choosing <b>Treeranga</b>. We look forward to bringing you more unique and exciting designs!</p>
            </div>
            <div class="col-lg-6 col-xl-6 col-sm-12 d-flex justify-content-center justify-content-lg-end">
                <img class="abt-img  " src="https://img.freepik.com/free-photo/business-people-meeting_53876-144829.jpg?size=626&ext=jpg&uid=R154425881&ga=GA1.1.1252649877.1716529876&semt=ais_hybrid" alt="About Us">
            </div>
        </div>
        <div class="row my-5 pt-2 px-5  bg-white" >
            <div class="col-lg-12 col-xl-6  col-sm-12 mt-4">
                <h4>Contact Us</h4>
                <p class="para">
                    Have any questions or feedback? We’d love to hear from you! Reach out to us at &nbsp; <a href="">+91-6372100300</a > <a href="">contactus@treeranga.com</a >  &nbsp;, and our friendly team will be happy to assist you. </p>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
