{% extends 'app_common/base.html' %}
 {% load static %}
 {% block title%} Home | NiwaAgro.com{% endblock title %} 
 {% block content %}

<!-- --------------------banner section--------------- -->

<section>
  <div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% if banners %}
          {% for banner in banners %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ banner.image.url }}" class="d-block w-100" alt="Banner Image">
            </div>
          {% endfor %}
        {% else %}
          <!-- Static image when no banners are added -->
          <div class="carousel-item active">
            <img src="{% static 'app_common/images/image4.webp' %}" class="d-block w-100" alt="Default Banner Image">
          </div>
        {% endif %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <i class="fa-solid fa-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <i class="fa-solid fa-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>



<!-- --------------------end banner section--------------- -->


<!-- --------------------android app--------------- -->
<section class="AppDownload">
  <div class="d-flex justify-content-center align-items-center p-lg-3 p-md-2 p-2">
    Download App! &nbsp; 
    <a href="#" class="text-decoration-none u-button ms-lg-3 m-md-2 ms-1">FOR ANDROID</a>
  </div>
</section>
<!-- --------------------end android app--------------- -->



<!-- --------------------Shop by collection--------------- -->

<section class="px-lg-5 px-md-3 px-2 py-lg-5 py-md-4 py-3 Shop_by_Collection">
  <div class="">
      <div class="pb-lg-3 pb-md-3 pb-2">
        <h3 class="text-center">Shop By Collection</h3>
      </div> 
   
    <div class="row">
       {% for category in categories %}
    
        <div class="col col-lg-2 col-md-3 col-6 content-wrapper">
          <div class="image-wrapper align-self-center">
            <a href="{% url 'product:products_of_category' category.title %}">
                <img src="{{ category.image.url }}" alt="{{ category.title }}">
              </a>
          </div>
          <a href="{% url 'product:products_of_category' category.title %}" class="text-decoration-none">
          <h4 class="text-center text-capitalize">{{ category.title }}</h4>  </a>
        </div>
    
        {% endfor %}

  </div> 
  </div>
</section>
<!-- --------------------end Shop by collection--------------- -->

<!-- --------------------New Arrival Collection--------------- -->

<section class="px-lg-5 px-md-3 px-2 py-lg-5 py-md-4 py-3">
  <div class="">
    <div class="pb-lg-3 pb-md-3 pb-2">
      <h3 class=" text-center">New Arrivals</h3>
    </div>

    <div class="row" id="new-arrivals">
      {% for item in new_products %}
      <div class="col col-lg-2 col-md-3 col-6 new-head">
        <div class="" id="new-products">
            {% if item.variant == "no" %}
            <a href="{% url 'product:product_detail' p_id=item.simple_product.id %}?variant=no">
            {% elif item.variant == "yes" %}
                <a href="{% url 'product:product_detail' p_id=item.variant_product.id %}?variant=yes">
            {% endif %}            
            {% if item.product.image %}
              <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="card-img-top" alt="{{ item.product.name }}">
            {% else %}
              <img src="{% static 'default-image.jpg' %}" class="card-img-top" alt="No image available">
            {% endif %}
          </a>
          <div class="card-body">
            <h5>{{ item.product.name|truncatechars:25 }}</h5>
            
            <p class="card-text">
              {% if item.variant == "no" %}
                <span class="price" id="discount_price">₹{{ item.simple_product.product_discount_price }}</span>
                {% if item.simple_product.product_max_price %}
                <span class="original-price" id="max_price"><s>₹{{ item.simple_product.product_max_price }}</s></span>
                {% endif %}
              {% else %}
                <span class="price" id="discount_price">₹{{ item.variant_product.product_discount_price }}</span>
                {% if item.variant_product.product_max_price %}
                <span class="original-price" id="max_price"><s>₹{{ item.variant_product.product_max_price }}</s></span>
                {% endif %}
              {% endif %}
            </p>
            
            <!-- Add To Cart button with ID validation -->
            <div class="d-flex mt-3">
              {% if item.variant == "no" %}
                <a href="{% url 'cart:addtocart' item.simple_product.id %}?variant=no" class=" vd_button addto-cart ">Add To Cart</a>
              {% elif item.variant == "yes" %}
                <a href="{% url 'cart:addtocart' item.variant_product.id %}?variant=yes" class=" vd_button addto-cart">Add To Cart</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="d-flex justify-content-center viewmoreButton">
      <a href="{% url 'product:all_new_products' %}" class="u-button">View More Products</a>
    </div>
  </div>
</section>

<!-- --------------------End New Arrival Collection--------------- -->


<!-- --------------------Trending Products Collection--------------- -->

<section class="px-lg-5 py-lg-4">
  <div class="">
    <div class="pb-lg-3 pb-md-3 pb-2">
      <h3 class=" text-center">Trending Products</h3>
    </div>

    <div class="row" id="new-arrivals">
      {% for item in trending_products %}
      <div class="col col-lg-2 col-md-3 col-6 new-head">
        <div class="" id="new-products">
            {% if item.variant == "no" %}
            <a href="{% url 'product:product_detail' p_id=item.simple_product.id %}?variant=no">
            {% elif item.variant == "yes" %}
                <a href="{% url 'product:product_detail' p_id=item.variant_product.id %}?variant=yes">
            {% endif %}            
            {% if item.product.image %}
              <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="card-img-top" alt="{{ item.product.name }}">
            {% else %}
              <img src="{% static 'default-image.jpg' %}" class="card-img-top" alt="No image available">
            {% endif %}
          </a>
          <div class="card-body">
            <h5>{{ item.product.name|truncatechars:25 }}</h5>
            
            <p class="card-text">
              {% if item.variant == "no" %}
                <span class="price" id="discount_price">₹{{ item.simple_product.product_discount_price }}</span>
                {% if item.simple_product.product_max_price %}
                <span class="original-price" id="max_price"><s>₹{{ item.simple_product.product_max_price }}</s></span>
                {% endif %}
              {% else %}
                <span class="price" id="discount_price">₹{{ item.variant_product.product_discount_price }}</span>
                {% if item.variant_product.product_max_price %}
                <span class="original-price" id="max_price"><s>₹{{ item.variant_product.product_max_price }}</s></span>
                {% endif %}
              {% endif %}
            </p>
            
            <!-- Add To Cart button with ID validation -->
            <div class="d-flex mt-3">
              {% if item.variant == "no" %}
                <a href="{% url 'cart:addtocart' item.simple_product.id %}?variant=no" class=" vd_button addto-cart">Add To Cart</a>
              {% elif item.variant == "yes" %}
                <a href="{% url 'cart:addtocart' item.variant_product.id %}?variant=yes" class=" vd_button addto-cart">Add To Cart</a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="d-flex justify-content-center viewmoreButton">
      <a href="{% url 'product:all_trending_products' %}" class="u-button">View More Products</a>
    </div>
  </div>
</section>


<!-- --------------------End Trending Products Collection--------------- -->



<!-- ------------------------- why  choose  niwa---------------------- -->

<section class="whychoose px-lg-5 px-md-3 px-2 py-lg-5 py-md-4 py-3" >
  <h3 class="text-center pb-lg-3 pb-md-3 pb-2">Why Choose Niwa Agro</h3>
  <div class="row text-center  p-lg-4 p-md-4 p-3 chooseniwa_logo">
    <div class="col-3 col-md-3 col-lg-3 mb-2">
      <img src="{% static 'app_common/images/bg2.avif' %}" alt="" class="img-fluid">
      <h5 class="">Free Replacement if Damaged</h5>
    </div>
    <div class="col-3 col-md-3 col-lg-3 mb-2">
      <img src="{% static 'app_common/images/bg3.png' %}" alt="" class="img-fluid">
      <h5 class="">Quality Assured</h5>
    </div>
    <div class="col-3 col-md-3 col-lg-3 mb-2">
      <img src="{% static 'app_common/images/bg4.avif' %}" alt="" class="img-fluid">
      <h5 class="">Secure & Recyclable Packaging</h5>
    </div>
    <div class="col-3 col-md-3 col-lg-3 mb-2">
      <img src="{% static 'app_common/images/bg5.avif' %}" alt="" class="img-fluid">
      <h5 class="">Handpicked Plant Care Tips</h5>
    </div>
  </div>
</section>

<!-- --------------------------about niwa agro-------------------------------- -->

<section class="aboutniwa_bg px-lg-5 px-md-3 px-2 py-lg-5 py-md-4 py-3">
  <h3 class=" text-center pb-lg-3 pb-md-3 pb-2">About Us</h3>
<div class="aboutniwa1">
    <p ALIGN=CENTER >Niwa Agro is dedicated to revolutionizing agriculture through sustainable and innovative farming practices. Our mission is to empower farmers with the latest technology and knowledge, ensuring high-quality produce and environmentally friendly methods. At Niwa Agro, we believe in a future where agriculture thrives in harmony with nature, fostering growth and prosperity for communities worldwide.</p>
    <p ALIGN=CENTER>At Niwa Agro, we are dedicated to revolutionizing the agricultural landscape. Our mission is to empower farmers with innovative solutions and sustainable practices that enhance productivity and foster environmental stewardship. With a focus on cutting-edge technology and community support, we strive to create a thriving agricultural ecosystem that benefits both people and the planet. Join us in our journey to cultivate a brighter, greener future.</p>
    <div>
        <a href="{% url 'app_common:about_us' %}" class=" text-decoration-none u-button">Know More</a>
    </div>
</div>
</section>

<!-- --------------------------End about niwa agro-------------------------------- -->


<!-- --------------------------Testimonial------------------------------- -->

<section class= "section px-lg-5 px-md-3 px-2 py-lg-5 py-md-4 py-3 testimonial-section">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-start flex-column">
        <h3 class="text-center pb-lg-3 pb-md-3 pb-2">From Happy Customers</h3>
     </div>
 </div>
  <div class=" ">
      <div class="testimonial-slider ">
          <div class="testimonial-slide">
              <div class="testimonial-box ">
                  <div class="testimonial-icon">
                      <i class="bi bi-quote"></i>
                  </div>
                  <div class="testimonial-text">
                     
                      <p>
                          Wonderful stay! Modern facilities, great value, and hassle-free booking. Definitely coming back!</p>
                  </div>
                  <div class="testimonial-img d-flex justify-content-center">
                      <img src="https://i.ibb.co/hKgs8gm/profile.jpg" alt="profile">
                  </div>
                  <div class="testimonial-name">
                      <h4> Mahesh Sethi</h4>
                  </div>
                  
              </div>
          </div>
          <div class="testimonial-slide">
              <div class="testimonial-box">
                  <div class="testimonial-icon">
                      <i class="bi bi-quote"></i>
                  </div>
                  <div class="testimonial-text">
                      <p>Amazing stay! Comfortable rooms, great service, and perfect location. Highly recommend!</p>
                  </div>
                  <div class="testimonial-img d-flex justify-content-center">
                      <img src="https://img.freepik.com/premium-photo/portrait-handsome-young-bearded-pakistani-man-casual-shirt-green-background_994418-691.jpg" alt="profile">
                  </div>
                  <div class="testimonial-name">
                      <h4>Rahul Jen</h4>
                  </div>
                
              </div>
          </div>
          <div class="testimonial-slide">
              <div class="testimonial-box">
                  <div class="testimonial-icon">
                      <i class="bi bi-quote"></i>
                  </div>
                  <div class="testimonial-text">
                      <p>Excellent experience! Clean rooms, friendly staff, and seamless booking process. Will return.</p>
                  </div>
                  <div class="testimonial-img d-flex justify-content-center">
                      <img src="https://www.profilebakery.com/wp-content/uploads/2024/04/Profilebakery.jpeg" alt="profile">
                  </div>
                  <div class="testimonial-name">
                      <h4>Madhab Reddy</h4>
                  </div>
                  
              </div>
          </div>
          <div class="testimonial-slide">
              <div class="testimonial-box">
                  <div class="testimonial-icon">
                      <i class="bi bi-quote"></i>
                  </div>
                  <div class="testimonial-text">
                      <p>Fantastic place! Cozy rooms, wonderful amenities, and superb customer service. Loved it!</p>
                  </div>
                  <div class="testimonial-img d-flex justify-content-center">
                      <img src="https://www.profilebakery.com/wp-content/uploads/2023/04/Profile-Image-AI.jpg" alt="profile">
                  </div>
                  <div class="testimonial-name">
                      <h4>Nitin Sah</h4>
                  </div>
                </div>
          </div>
          <div class="testimonial-slide">
              <div class="testimonial-box">
                  <div class="testimonial-icon">
                      <i class="bi bi-quote"></i>
                  </div>
                  <div class="testimonial-text">
                      <p>Loved our stay! Beautiful property, convenient booking, and outstanding hospitality. Five stars!</p>
                  </div>
                  <div class="testimonial-img d-flex justify-content-center">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShZ75KKy6w0Rw_ExGPMO1ZcccgpjXaK-xKgQ&s" alt="profile">
                  </div>
                  <div class="testimonial-name">
                      <h4>Hritik Kamal</h4>
                  </div>
                  
              </div>
          </div>
         
      </div>
  </div>
</section>

<!-- --------------------------End Testimonial------------------------------- -->
  


<!-- --------------------------Start Accordian------------------------------------- -->


<section class="Shop_by_Collection  px-lg-5 px-md-3 px-2 py-lg-5 py-md-4 py-3 Accordian">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center flex-column">
        <h3 class="text-center pb-lg-3 pb-md-3 pb-2">Frequently Asked Questions</h3>
     </div>
 </div>
  <div class="">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item shadow-sm mb-4">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed border-bottom text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <i class="fas fa-plus me-2"></i> What is Niwa Agro?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Niwa Agro is an agricultural company specializing in sustainable farming solutions. You can reach us via email at info@niwaagro.com, call us at +123456789, or fill out the contact form on our website. We offer a range of products including organic vegetables, fruits, grains, etc. Our services include agricultural consulting, farm management, and sustainable farming practices. All our products are certified organic and meet USDA Organic standards.
          </div>
        </div>
      </div>
      <div class="accordion-item shadow-sm mb-4">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed border-bottom text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="fas fa-plus me-2"></i> What farming practices does Niwa Agro use?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            We use sustainable and environmentally friendly farming practices, including crop rotation, no-till farming, and integrated pest management. We implement rigorous quality control measures at every stage of production to ensure our products meet the highest standards.
          </div>
        </div>
      </div>
      <div class="accordion-item shadow-sm mb-4">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed border-bottom text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <i class="fas fa-plus me-2"></i> How can I place an order with Niwa Agro?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            You can place an order through our website, by phone, or by visiting one of our partner retailers.
            <br><br>
            <strong>Does Niwa Agro offer home delivery?</strong>
            <br>
            Yes, we offer home delivery services in select areas. Delivery times and fees vary based on location.
            <br><br>
            <strong>What payment methods does Niwa Agro accept?</strong>
            <br>
            We accept various payment methods including credit/debit cards, PayPal, and bank transfers.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- --------------------------------------------End Accordian------------------------------------- -->








{% endblock content %}