{% extends 'app_common/base.html' %}
 {% load static %}
 {% block title%} Home {% endblock title %} 
 {% block content %}

<!-- --------------------banner section--------------- -->

<section>
  <div>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        {% if banners %}
          {% for banner in banners %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              <img src="{{ banner.image.url }}" class="d-block w-100" alt="Banner Image">
            </div>
          {% endfor %}
        {% else %}
          <!-- Static image when no banners are added -->
          <div class="carousel-item active">
            <img src="https://marketplace.canva.com/EAFuUVuQu98/1/0/1600w/canva-yellow-pink-bold-fashion-sale-landscape-banner-XgQnSpGbsnQ.jpg" class="d-block w-100" alt="Default Banner Image">
          </div>
        {% endif %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <i class="fa-solid fa-chevron-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <i class="fa-solid fa-chevron-right"></i>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

<!-- --------------------end banner section--------------- -->
 
<!-- --------------------android app--------------- -->
<!-- <section class="AppDownload">
  <div class="d-flex justify-content-center align-items-center p-lg-3 p-md-2 p-2">
    Download App! &nbsp; 
    <a href="#" class="text-decoration-none u-button ms-lg-3 m-md-2 ms-1">FOR ANDROID</a>
  </div>
</section> -->
<!-- --------------------end android app--------------- -->

<!----------------- Gallery Section --------------->
<section class="px-lg-5 px-md-3 px-2 py-lg-3 py-md-4 py-3 Shop_by_Collection">
  <div class="row ">
    <!-- Left side image (2x height) -->
    <div class="col-lg-6 col-md-12 pe-0  ">
        <div class="image-container left-image">
            <img src="https://theme367-fashion.myshopify.com/cdn/shop/files/banner-menu3_126067f0-5b37-45cb-9f5d-8c3695867bdd.jpg?v=1677842608&width=710" alt="Clothes" class="img-fluid">
            <div class="overlay1">
                <h5> All Collection</h5>
                <button class="moreBtn1">Shop Now</button>
            </div>
        </div>
    </div>
    <!-- Right side images (half-height each) -->
    <div class="col-lg-6 col-md-12 mt-lg-0 mt-3">
        <div class="row ">
            <div class="col-md-12 right-image mb-lg-1">
                <div class="image-container">
                    <img src="https://theme367-fashion.myshopify.com/cdn/shop/articles/Rectangle_254_4.png?v=1676553351" alt="Shoes" class="img-fluid">
                    <div class="overlay">
                        <h5>Women's Collection</h5>
                        <button class="moreBtn1">Shop Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 right-image mt-lg-1">
                <div class="image-container">
                    <img src="https://theme367-fashion.myshopify.com/cdn/shop/files/banner2_4c0d84ae-a00f-4b67-a459-f36c1bb23581.png?v=1677768411&width=2000" alt="Accessories" class="img-fluid">
                    <div class="overlay">
                        <h5  class="text-white">Men's Collection</h5>
                        <button class="moreBtn1">Shop Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!----------------- End Gallery Section --------------->


<!-- --------------------Shop by collection--------------- -->

<section class="px-lg-5 px-md-3 px-2 py-lg-3 py-md-4 py-3 Shop_by_Collection">
  <div class="bg-white px-3 py-4">
      <div class="pb-lg-3 pb-md-3 pb-2">
        <h3 class="">Shop By Collection</h3>
      </div> 
 
      {% include 'app_common/shopbycollection.html' %}
  
  </div>
</section>
<!-- --------------------end Shop by collection--------------- -->

<!-- --------------------New Arrival Collection--------------- -->

<section class="px-lg-5 px-md-3 px-2 py-lg-3 py-md-4 py-3 Shop_by_Collection">
  <div class="bg-white px-3 py-4">
    <div class="d-flex justify-content-between pb-lg-3 pb-md-3 pb-2 align-items-center">
      <h3 class=" ">New Arrivals</h3>
      <a href="{% url 'product:all_new_products' %}" class="moreBtn">View All</a>
    </div>
    {% include 'app_common/NewArrival.html' %}


  </div>
</section>

<!-- --------------------End New Arrival Collection--------------- -->


<!-- --------------------Trending Products Collection--------------- -->

<section class="px-lg-5 px-md-3 px-2 py-lg-3 py-md-4 py-3 Shop_by_Collection">
  <div class="bg-white px-3 py-4">
    <div class="d-flex justify-content-between pb-lg-3 pb-md-3 pb-2 align-items-center">
      <h3 class=" ">Trending Products</h3>
      <a href="{% url 'product:all_trending_products' %}" class="moreBtn">View All</a>
    </div>
    {% include 'app_common/Trendingproducts.html' %}

  </div>
</section>


<!-- --------------------End Trending Products Collection--------------- -->


<!-- ------------------------- why  choose  treeranga---------------------- -->

<section class="whychoose px-lg-5 px-md-3 px-2 py-lg-3 py-md-4 py-3 Shop_by_Collection" >
  <div class="bg-white px-3 py-4">
    <h3 class="text-center pb-lg-3 pb-md-3 pb-2">Why Choose Treeranga</h3>
  <div class="row text-center  p-lg-4 p-md-4 p-3 chooseniwa_logo">
    <div class="col-6 col-md-3 col-lg-3 mb-2">
      <img src="https://vendypro-2.myshopify.com/cdn/shop/files/svg-img-1.svg?v=1695635030&width=550" alt="" class="img-fluid mb-4">
      <h6 class="">24/7 FRIENDLY SUPPORT</h6>
      <P>
        Our support team always ready for you to
        7 days a week
      </P>
    </div>
    <div class="col-6 col-md-3 col-lg-3 mb-2">
      <img src="https://vendypro-2.myshopify.com/cdn/shop/files/svg-img-2.svg?v=1695635029&width=550" alt="" class="img-fluid mb-4">
      <h6 class=""> FREE SHIPPING</h6>
      <P>
        Free worldwide shipping on all area
order above ₹700 
      </P>
    </div>
    <div class="col-6 col-md-3 col-lg-3 mb-2">
      <img src="	https://vendypro-2.myshopify.com/cdn/shop/files/svg-img-3.svg?v=1695635029&width=550" alt="" class="img-fluid mb-4">
      <h6 class="">7 DAYS EASY RETURN</h6>
      <P>
        Product any fault within 7 days for an immediately exchange
      </P>
    </div>
    <div class="col-6 col-md-3 col-lg-3 mb-2">
      <img src="https://vendypro-2.myshopify.com/cdn/shop/files/svg-img-4.svg?v=1695635029&width=550" alt="" class="img-fluid mb-4">
      <h6 class="">QUALITY GUARANTEED</h6>
      <P>
        If your product aren't perfect, return
them for a full refund
      </P>
    </div>

  </div>
  </div>
</section>

<!-- --------------------------about treeranga-------------------------------- -->

<section class="aboutniwa_bg px-lg-5 px-md-3 px-2 py-lg-3 py-md-4 py-3">
  <h3 class=" aboutHead text-center pb-lg-3 pb-md-3 ">About Us</h3>
<div class="aboutniwa1">
    <p ALIGN=CENTER >Treeranga is committed to transforming the world of fashion by offering high-quality, eco-friendly t-shirts. Our mission is to provide customers with stylish, sustainable clothing that reflects their individuality while promoting environmental consciousness. At Treeranga, we believe that fashion should not only look good but also feel good, knowing that each purchase contributes to a healthier planet.</p>
    <p ALIGN=CENTER>At Treeranga, we are passionate about redefining the t-shirt experience. We combine creativity and sustainability to offer innovative designs that resonate with today's conscious consumer. With a focus on responsibly sourced materials and ethical production methods, we aim to inspire a new era of fashion that supports both personal expression and the well-being of our planet. Join us on our journey to make fashion more sustainable, one t-shirt at a time.</p>
    <div class=" d-flex justify-content-end viewmoreButton">
        <a href="{% url 'app_common:about_us' %}" class="u-button viewmoreButton" id="u-button">Know More</a>
    </div>
</div>
</section>

<!-- --------------------------End about niwa agro-------------------------------- -->


<!-- --------------------------Testimonial------------------------------- -->

<section class="section px-lg-5 px-md-3 px-2 py-lg-3 py-md-4 py-3 testimonial-section Shop_by_Collection">
    <div class="bg-white py-3">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-start flex-column">
          <h3 class="text-center pb-lg-3 pb-md-3 pb-2">From Happy Customers</h3>
        </div>
      </div>
      <div>
        <div class="testimonial-slider">
          <div class="testimonial-slide">
            <div class="testimonial-box">
              <div class="testimonial-icon">
                <i class="bi bi-quote"></i>
              </div>
              <div class="testimonial-text">
                <p>Fantastic t-shirts! High-quality fabric, great designs, and perfect fit. Will buy again!</p>
              </div>
              <div class="testimonial-img d-flex justify-content-center">
                <img src="https://i.ibb.co/hKgs8gm/profile.jpg" alt="profile">
              </div>
              <div class="testimonial-name">
                <h4>Mahesh Sethi</h4>
              </div>
            </div>
          </div>
    
          <div class="testimonial-slide">
            <div class="testimonial-box">
              <div class="testimonial-icon">
                <i class="bi bi-quote"></i>
              </div>
              <div class="testimonial-text">
                <p>Great t-shirts, fast delivery, and excellent customer service. Will recommend to others!</p>
              </div>
              <div class="testimonial-img d-flex justify-content-center">
                <img src="https://img.freepik.com/premium-photo/portrait-handsome-young-bearded-pakistani-man-casual-shirt-green-background_994418-691.jpg" alt="profile">
              </div>
              <div class="testimonial-name">
                <h4>Rahul Jen</h4>
              </div>
            </div>
          </div>
    
          <div class="testimonial-slide">
            <div class="testimonial-box">
              <div class="testimonial-icon">
                <i class="bi bi-quote"></i>
              </div>
              <div class="testimonial-text">
                <p>Amazing collection! Soft t-shirts, trendy designs, and delivered on time. Totally satisfied!</p>
              </div>
              <div class="testimonial-img d-flex justify-content-center">
                <img src="https://www.profilebakery.com/wp-content/uploads/2024/04/Profilebakery.jpeg" alt="profile">
              </div>
              <div class="testimonial-name">
                <h4>Madhab Reddy</h4>
              </div>
            </div>
          </div>
    
          <div class="testimonial-slide">
            <div class="testimonial-box">
              <div class="testimonial-icon">
                <i class="bi bi-quote"></i>
              </div>
              <div class="testimonial-text">
                <p>Love these shirts! Stylish, comfortable, and affordable. Highly recommend Treenga to everyone!</p>
              </div>
              <div class="testimonial-img d-flex justify-content-center">
                <img src="https://www.profilebakery.com/wp-content/uploads/2023/04/Profile-Image-AI.jpg" alt="profile">
              </div>
              <div class="testimonial-name">
                <h4>Nitin Sah</h4>
              </div>
            </div>
          </div>
    
          <div class="testimonial-slide">
            <div class="testimonial-box">
              <div class="testimonial-icon">
                <i class="bi bi-quote"></i>
              </div>
              <div class="testimonial-text">
                <p>Perfect t-shirts! Beautiful prints, premium fabric, and fits perfectly. Will order more soon!</p>
              </div>
              <div class="testimonial-img d-flex justify-content-center">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShZ75KKy6w0Rw_ExGPMO1ZcccgpjXaK-xKgQ&s" alt="profile">
              </div>
              <div class="testimonial-name">
                <h4>Hritik Kamal</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>


<!-- --------------------------End Testimonial------------------------------- -->
  


<!-- --------------------------Start Accordian------------------------------------- -->


<section class="Shop_by_Collection  px-lg-5 px-md-3 px-2 py-lg-3 py-md-4 py-3 Accordian">
  <div class="row">
    <div class="col-12 d-flex align-items-center justify-content-center flex-column">
        <h3 class="text-center pb-lg-3 pb-md-3 pb-2">Frequently Asked Questions</h3>
     </div>
 </div>
  <div class="">
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item shadow-sm mb-4">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed border-bottom text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            <i class="fas fa-plus me-2"></i> What is Treeranga?
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Treenga is a fashion brand specializing in high-quality, trendy t-shirts for all styles. You can reach us via email at contactus@treeranga.com, call us at +91-6372100300, or fill out the contact form on our website. We offer a wide range of t-shirts, including graphic tees, plain basics, and seasonal collections. Our services include personalized designs, bulk orders, and fashion consultations. All our products are crafted with premium fabrics and meet the highest quality standards for comfort and style.
          </div>
        </div>
      </div>
      <div class="accordion-item shadow-sm mb-4">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed border-bottom text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <i class="fas fa-plus me-2"></i> What fabric is used in Treenga t-shirts?
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Treenga t-shirts are made from premium quality fabrics, primarily 100% organic cotton, ensuring breathability, comfort, and durability. We also offer blends such as cotton-polyester for a softer feel and extra flexibility. All materials are ethically sourced and eco-friendly.
          </div>
        </div>
      </div>
      <div class="accordion-item shadow-sm mb-4">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed border-bottom text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            <i class="fas fa-plus me-2"></i> How can I place an order with Treenga?
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            You can place an order through our website by browsing our collections, selecting the t-shirts you like, and proceeding with secure checkout. We also offer bulk orders for businesses, which can be placed by contacting our customer service team.
            <br><br>
            <strong>Does Treenga offer home delivery?</strong>
            <br>
            Yes, we provide home delivery across India and internationally. Delivery times and fees vary based on location, and we offer free shipping on orders above a certain amount.
            <br><br>
            <strong>What payment methods does Treenga accept?</strong>
            <br>
            We accept multiple payment methods including credit/debit cards, UPI, PayPal, and cash on delivery for select locations.
          </div>
        </div>
      </div>
      <div class="accordion-item shadow-sm mb-4">
        <h2 class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed border-bottom text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            <i class="fas fa-plus me-2"></i> What sizes do your t-shirts come in?
          </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Our t-shirts are available in a wide range of sizes, from XS to 4XL, to ensure a perfect fit for everyone. You can refer to our size chart on the product page for exact measurements and guidance.
          </div>
        </div>
      </div>
      <div class="accordion-item shadow-sm mb-4">
        <h2 class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed border-bottom text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            <i class="fas fa-plus me-2"></i> Can I return or exchange my order?
          </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Yes, we offer a hassle-free return and exchange policy. You can return or exchange your order within 15 days of delivery, provided the items are unused and in their original condition with all tags intact.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- --------------------------------------------End Accordian------------------------------------- -->








{% endblock content %}