{% extends 'app_common/base.html' %}
{% load static %}
{% block title %} Retrun Policy {% endblock title %}
{% block content %}



<section>
    <div class="container" id="return">
        <div>
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'app_common:home' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Privacy Policy</li>
                </ol>
              </nav>
            <h3 class="text-center border-bottom pb-lg-3">Return Policy</h3>
      
            <h6>SHIPPING</h6>

 

            <h6>PRE-PAID ORDERS</h6>
            
            <ul>
            
                <li class="mb-2">We will ship your prepaid order within 48 hours and you will get a tracking link over Email and WhatsApp.</li>
            
                <li class="mb-2">Free shipping on pre-paid orders</li>
            
                <li class="mb-2">Delivery within 7-8 working business days.</li>
            
                <li class="mb-2">Note: If you've placed a prepaid order on discounted items and using coupon code, return or refund not applicable on that item.</li>
            
            </ul>
            
             
            
            <h6>COD ORDERS</h6>
            
            <ul>
            
                <li class="mb-2">We will ship your COD order within 3-4 working days and you will get a tracking link over Email and WhatsApp.</li>
            
                <li class="mb-2">Shipping cost 49 INR is added in COD orders only and it will be calculated at the checkout.</li>
            
            </ul>
            
             
            
            <h6>PRODUCT DISCLAIMER</h6>
            
            <ul>
            
                <li class="mb-2">All images on the website are enhanced during the post-production process, actual product colors may vary.</li>
            
            </ul>
            
             
            
            <h6>RETURNS</h6>
            
            <p>What are the conditions for return?</p>
            
            <ul>
            
                <li class="mb-2">Received Damage product</li>
            
                <li class="mb-2">Received defective product</li>
            
                <li class="mb-2">Received wrong product</li>
            
            </ul>
            
            <p>All returns must be postmarked within 7 days of the product delivery. All returned items must be new and in an unused condition.</p>
            
            <p>Note: It is mandatory to capture a video/photo before shipping the package or handling it to our courier partner.</p>
            
            <p>Pickup will be attempted twice. If the courier company fails to pick up the shipment. You will need to return the shipment to our address.</p>
            
            <p>Reverse Pick Up is dependent on the availability of the service in your area pin code.</p>
            
            <p>Damaged/wrong product issued must be reported within 24 hours of delivery for prompt resolution.</p>
            
            <p>In case the customer receives defective/wrong product(s), the reverse pickup will be generated by us and the shipping charges will be covered by us only.</p>
            
            <p>99 INR logistic charges will be deducted as a part of refund process, if you received good product as you saw in booking time but still you refunding for size issue and No defective/No Damage/No wrong product.</p>
            
             
            
            <h6>RETURN PROCESS</h6>
            
            <ul>
            
                <li class="mb-2">To return an item, please raise a request on www.treeranga.com with a clear photo or a video that shows the product’s defects.</li>
            
                <li class="mb-2">Once the return is approved your order will be picked up within 4 -5 working days.</li>
            
                <li class="mb-2">The team will work on the refund after the product is received. Refunds take 3-5 business days to appear in your original form of payment.</li>
            
                <li class="mb-2">In order to be eligible for a refund, your item must be returned with all tags attached, unworn, unused, and unwashed, in the exact condition that you received it.</li>
            
            </ul>
            
             
            
            <h6>CANCELLATIONS</h6>
            
            <p>Orders can't be cancelled once it’s shipped, you can cancel the order before it is shipped by visiting the account page.</p>
            
             
            
            <h6>EXCHANGES</h6>
            
            <p>Exchange not available only return, if you have to exchange the product please return the product and place a new order from our website.</p>
            
             
            
            <h6>Things To Consider</h6>
            
            <ul>
            
                <li class="mb-2">The customers are requested to check the size guide before placing the order.</li>
            
                <li class="mb-2">The color of the product(s) may vary as per the customer's screen resolution.</li>
            
                <li class="mb-2">Please provide your WhatsApp registered number for timely updates and a better shopping experience.</li>
            
                <li class="mb-2">If the customer receives a torn parcel/unrelated product(s)/empty parcel, they are requested to raise a query within 24 hours of delivery. For a safer side, we suggest our customers to create an unboxing video of the parcel too.</li>
            
            </ul>
            
             
            
            <h6>QUESTIONS</h6>
            
            <p>If you have any questions, please contact us at: <a href="mailto:contactus@treeranga.com">contactus@treeranga.com</a></p>
            
             
            
            <p>TREERANGA will not stand liable for any changes of any damage caused by the customer to the product.</p>
            
             
            
            <h2 class="text-center">COMPANY ADDRESS </h2>
            
            <p class="text-center mb-5"> Panikoili,Jajpur,Odisha- 755043 </p>
            
             
            
            <div class="col-lg-12">
            
                <div class="row  d-flex justify-content-center pb-4" style="font-size: 14px;">
            
                    <div class="col-lg-4 d-flex flex-column align-items-center text-center return_img_div">
            
                        <img
            
                            src="https://cdn-icons-png.flaticon.com/128/542/542638.png"
            
                            class="d-block img-fluid turm_img"
            
                            alt="Slide 1" />
            
                        <h6>FREE & FAST DELIVERY</h6>
            
                        <p>Shipping within 48 hours across India</p>
            
                    </div>
            
                    <div class="col-lg-4 d-flex flex-column align-items-center text-center return_img_div">
            
                        <img
            
                            src="https://cdn-icons-png.flaticon.com/128/1670/1670915.png"
            
                            class="d-block img-fluid turm_img"
            
                            alt="Slide 1" />
            
                        <h6>RETURN POLICY</h6>
            
                        <p>Return within 7 days</p>
            
                    </div>
            
                    <div class="col-lg-4 d-flex flex-column align-items-center text-center return_img_div">
            
                        <img
            
                            src="https://cdn-icons-png.flaticon.com/128/3095/3095583.png"
            
                            class="d-block img-fluid turm_img"
            
                            alt="Slide 1" />
            
                        <h6>CONTACT US</h6>
            
                        <p>contactus@treeranga.com</p>
            
                    </div>
            
                </div>
            
            </div>
            
        </div>
        
    </div>
</section>


{% endblock content %}





