{% extends 'app_common/base.html' %}
{% load static %}
{% block title %}
   Shopping Cart | Niwa Agro.com
{% endblock title %}

{% block content %}



<section class="container">
    <div class="row my-lg-3">
        <div class="col-md-8">
            <div class="d-flex justify-content-end  border p-lg-3 my-lg-2 my-2" >
                <a href="{% url 'users:home' %}" class="vd_button" id="continue-shop" >Continue Shopping</a>
            </div>
            <!-- Cart Items List -->  
            <div class="table-responsive-sm table-responsive">
                <table class="table table-hover my-table table-striped border">
                    <thead>
                        <tr class="cart-table">
                            <th class="pb-lg-2">Product Image</th>
                            <th class="pb-lg-2">Product & Price</th>
                            <th class="pb-3 pb-lg-2">Quantity</th=>
                            <th class="pb-3 pb-lg-2">Remove</th>
                        </tr>
                    </thead>
                    <tbody class="tbody-light">
                        {% if products %}
                            {% for key, value in products.items %}
                            <tr>
                                <td class="cart-product-image p-0" id="t-Body">
                                    <a href="{% url 'product:product_detail' key %}">
                                        <img src="{{ value.info.image }}" class="img-thumbnail" alt="product image">
                                    </a>
                                </td>
                                <td id="t-Body" class="mt-lg-4">
                                    <p class="m-0">{{ value.info.name | truncatechars:30 }}</p>
                                    <p style="color:green!important;"><i class="bi bi-currency-rupee"></i>{{ value.info.discount_price }}</p>
                                </td>
                                <td>
                                    <div class="quantity_add d-lg-flex d-flex justify-content-lg-evenly justify-content-around mt-lg-3">
                                        <a href="{% url 'cart:managecart' value.info.uid %}?operation=min" class=" text-center">
                                            <i class="fa-solid fa-minus"></i>
                                        </a>
                                        <input class="ps-2" id="quantity-{{ value.info.uid }}" type="number" value="{{ value.quantity }}" readonly />
                                        <a class=" text-center" href="{% if value.quantity < 6 %}{% url 'cart:managecart' value.info.uid %}?operation=plus{% else %}javascript:void(0);{% endif %}" class="{% if value.quantity >= 6 %}disabled{% endif %}" onclick="checkQuantity('{{ value.info.uid }}', {{ value.quantity }})">
                                            <i class="fa-solid fa-plus"></i>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="mt-lg-3 mt-4 text-center">
                                        <a href="{% url 'cart:removefromcart' key %}">
                                            <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center">Your cart is empty !!!</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            
            <div class="proceed-to d-none d-lg-block d-md-block">
                <div class=" proceed-to-checkout">
                    {% if products %}
                    <a href="{% url 'cart:checkout' %}" class="u-button">Place order</a>
                {% else %}
                    <a href="#" class="u-button">Place order</a>
                {% endif %}
                </div>
            </div>
        </div>

        <div class="col col-lg-4 col-12 col-md-4" >
            <!-- Cart Summary -->
            <div class="product-price-details my-3">
                <div class="border p-lg-3 p-3" >
                    <div class="border-bottom  price-details p-2">
                     <span class=""> PRICE DETAILS</span>
                    </div>
     
                    <div class=" p-3 amount-details">
                         <div class="d-flex justify-content-between mb-2">
                             <span>MRP </span>
                             <span><i class="bi bi-currency-rupee"></i>{{ totaloriginalprice }}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-2">
                             <span>Our Price</span>
                             <span><i class="bi bi-currency-rupee"></i>{{ totalPrice }}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-2">
                             <span  style="color:green!important;">Discount  </span>
                             <span  style="color:green!important;">-  <i class="bi bi-currency-rupee"></i>{{ discount_price }}</span>
                         </div>
                         <div class="d-flex justify-content-between mb-2">
                             <span>Delivery Charges  </span>
                             <span><i class="bi bi-currency-rupee"></i>{{ Delivery }}</span>
                         </div>
                         <div class="checkout-check p-lg-2">
     
                         </div>
                    </div>
                     <div class="d-flex justify-content-between p-lg-3 total-amount">
                         <span>Total Amount </span>
                         <span><i class="bi bi-currency-rupee"></i>{{ final_cart_value }}</span>
                     </div>
                    
                 </div>
                 <span class="d-flex mt-3 p-2"  id="t-Head">
                     <i class="bi bi-shield-fill-check"></i>
                     <p class="ms-2">Safe and Secure Payments. Easy returns. 100% Authentic products.</p>
                 </span>
            </div>
            
        </div>
    </div>
    <div class="proceed-to d-block d-sm-block d-lg-none d-md-none my-3 p-0">
        <div class=" proceed-to-checkout">
            {% if products %}
            <a href="{% url 'cart:checkout' %}" class="u-button">Place order</a>
        {% else %}
            <a href="#" class="u-button">Place order</a>
        {% endif %}
        </div>
    </div>
</section>

<script>
    function checkQuantity(productUid, currentQuantity) {
    const maxQuantity = 6;

    if (currentQuantity >= maxQuantity) {
        alert(`You cannot add more than ${maxQuantity} units of this product.`);
    }
}

</script>

<script>
function addToCart(productUid) {
    const maxQuantity = 6;
    const currentQuantity = parseInt(document.getElementById('quantity-' + productUid).innerText);
    
    if (currentQuantity < maxQuantity) {
        window.location.href = `/manage-cart/${productUid}?operation=plus`;
    } else {
        alert('You cannot add more than ' + maxQuantity + ' units of this product.');
    }
}
</script>

{% endblock content %}