{% extends 'app_common/base.html' %}
{% load static %}

{% block title %}
All Collections
{% endblock title %}

{% block content %}
<div class="container py-4 d-flex flex-column align-items-center lh-lg">
    <h1 class="text-capitalize">All Collections</h1>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'app_common:home' %}">Home</a></li>
            <li class="breadcrumb-item active text-dark text-capitalize" aria-current="page">All Products</li>
        </ol>
    </nav>
</div>

<div class="product-gallery container">

<div class="row row-cols-2 row-cols-lg-5 row-cols-xl-5 row-cols-md-4 row-cols-sm-3 row-cols-2 ">
    {% for item in products_with_variants %}
    <div class="col mb-4">
        <div class="product-card">
            <div class="product-images">
                        {% if item.is_variant %}
                            <a href="{% url 'product:product_detail' p_id=item.variant_product.id %}?variant=yes">
                        {% else %}
                            <a href="{% url 'product:product_detail' p_id=item.simple_product.id %}?variant=no">
                        {% endif %}
                            {% if item.images %}
                                <img src="{{ MEDIA_URL }}{{ item.images.0 }}" alt="{{ item.product.name }}" class="img-fluid rounded mb-2">
                            {% else %}
                                <img src="{% static 'default-image.jpg' %}" alt="No image available" class="img-fluid rounded mb-2">
                            {% endif %}
                        </a>
                <div class="product-icons">
                    <i class="fa-regular fa-heart"></i><!-- Favorite Icon -->
                   
                </div>
                <button class="add-to-cart ">
                    {% if item.is_variant %}
                        <a href="{% url 'cart:addtocart' item.variant_product.id %}?variant=yes" class="text-white">Add To Cart</a>
                    {% else %}
                        <a href="{% url 'cart:addtocart' item.simple_product.id %}?variant=no" class="text-white">Add To Cart</a>
                    {% endif %}
                </button>
            </div>
            <div class="product-details">
                <h4 class="product-title">{{ item.product.name|truncatechars:15 }}</h4>
                <p class="price">
                    {% if item.is_variant %}
                        <p class="card-text m-0">
                            <span id="max_price"><s>₹{{ item.variant_product.product_max_price }}</s></span>
                            <span id="discount_price">₹{{ item.variant_product.product_discount_price }}</span> 
                        </p>
                    {% else %}
                    <p class="card-text m-0">
                        <span id="max_price"><s>₹{{ item.simple_product.product_max_price }}</s></span>
                        <span id="discount_price">₹{{ item.simple_product.product_discount_price }}</span> 
                        
                    </p>
                    {% endif %}
                </p>
            </div>
        </div>
      </div>
      {% empty %}
      <p class="text-center">No products available.</p>
      {% endfor %}
</div>
</div>
{% endblock content %}
