{% extends 'app_common/base.html' %}
{% load static %}

{% block title %}
Products Of {{ category_obj.title }} Category
{% endblock title %}

{% block content %}

<div class="container py-4 d-flex flex-column align-items-center lh-lg">
    <h2 class="text-uppercase">{{ category_obj.title }}</h2>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'app_common:home' %}">Home</a></li>
            <li class="breadcrumb-item active text-dark text-capitalize" aria-current="page">{{ category_obj.title }}</li>
        </ol>
    </nav>
</div>

<div class="px-lg-5 text-center py-3" id="products_of_category">
    {% if products_with_variants %}
    <div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2">
        {% for item in products_with_variants %}
        <div class="col mb-3 mb-lg-4">
            <div class="product-card">
                <div class="product-images">
                    {% if item.variant == "yes" %}
                    <a href="{% url 'product:product_detail' item.variant_product.pk %}?variant=yes">
                        <img src="{% if item.images %}{{ MEDIA_URL }}{{ item.images.0 }}{% else %}{% static 'default_image.jpg' %}{% endif %}" alt="{{ item.product.name }}" class="card-img-top">
                    </a>
                    {% else %}
                    <a href="{% url 'product:product_detail' item.simple_product.pk %}?variant=no">
                        <img src="{% if item.images %}{{ MEDIA_URL }}{{ item.images.0 }}{% else %}{% static 'default_image.jpg' %}{% endif %}" alt="{{ item.product.name }}" class="card-img-top">
                    </a>
                    {% endif %}
                    <div class="product-icons">
                        <i class="fa-regular fa-heart"></i><!-- Favorite Icon -->
                    </div>
                    <!-- Add to Cart Button -->
                    <button class="add-to-cart">
                        {% if item.variant == "yes" %}
                        <a href="{% url 'product:product_detail' item.variant_product.pk %}?variant=yes" class="">View Details</a>
                        {% else %}
                        <a href="{% url 'product:product_detail' item.simple_product.pk %}?variant=no" class="">View Details</a>
                        {% endif %}
                    </button>
                </div>

                <!-- Product Details Section -->
                <div class="product-details">
                    <h4>{{ item.product.name | truncatechars:27 }}</h4>
                    <p class="price">
                        <del class="original-price" id="max_price" >₹
                            {% if item.simple_product %}
                            {{ item.simple_product.product_discount_price }}
                        {% elif item.variant_product %}
                            {{ item.variant_product.product_discount_price }}
                        {% else %}
                            N/A
                        {% endif %}
                        </del>
                        <span  class="price ps-2" id="discount_price">₹
                            
                            
                            {% if item.simple_product %}
                            {{ item.simple_product.product_max_price }}
                            {% elif item.variant_product %}
                                {{ item.variant_product.product_max_price }}
                            {% else %}
                                N/A
                            {% endif %}
                        </span>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h1>No products found!</h1>
    {% endif %}
</div>
{% endblock content %}
